base_paths:
  default: commec-dbs/
databases:
  biorisk:
    path: '{default}biorisk/biorisk.hmm'
    taxids: "{default}biorisk/reg_taxids.txt"
    annotations: '{default}biorisk/biorisk_annotations.csv'
  regulated_protein:
    blast:
      path: '{default}nr_blast/nr'
    diamond:
      path: '{default}nr_dmnd/nr.dmnd'
  regulated_nt:
    path: '{default}nt_blast/core_nt'
  low_concern:
    rna:
      path: '{default}low_concern/rna/benign.cm'
    dna:
      path: '{default}low_concern/dna/benign.fasta'
    protein:
      path: '{default}low_concern/protein/benign.hmm'
    taxids: "{default}low_concern/vax_taxids.txt"
    annotations: '{default}low_concern/low_concern_annotations.tsv'
  taxonomy:
      path: "{default}taxonomy/"
  regulated_lists:
      path: "{default}regulated_lists"
regions : "ALL"
threads: 1
diamond_jobs: null
do_cleanup: False
force: False
skip_taxonomy_search: False
protein_search_tool: 'blastx'
resume: False
skip_nt_search: False
verbose: False